{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thank You</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/thank_you.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="container">
        <i class="fas fa-check-circle icon"></i>
        <h1>Thank You for Your Purchase!</h1>
        <p>Your transaction was successful. We have sent a confirmation email to you.</p>
        <p>If you have any questions, feel free to <a href="https://www.networkinginheels.co.ke/contact%20us.html">contact us</a>.</p>
        <a href="https://www.networkinginheels.co.ke/index.html" class="button">Return to Home</a>
    </div>
</body>
</html>
